.heading {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 28px;
  padding-top: 29px;
  padding-left: 29px; }

.status {
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 45px;
  margin-left: 35px;
  display: flex; }
  .status__item {
    border-radius: 5px;
    padding: 2px 10px;
    margin-right: 300px; }
    .status__item--purple {
      background: #D6C9D8;
      color: #5231AE; }
    .status__item--green {
      background: #9AEEBB;
      color: #169357; }
    .status__item--red {
      background: #F1B1B1;
      color: #DE3838; }

.form__label {
  width: 95%;
  display: flex;
  border-bottom: 2px solid #9AEEBB;
  margin: 0 auto;
  position: relative; }
  .form__label .filter {
    width: 100%;
    margin-top: 15px;
    height: 100%;
    font-weight: 600;
    font-size: 36px;
    border: none;
    outline: none;
    color: #B92121; }
    .form__label .filter::placeholder {
      color: #B92121; }
  .form__label a {
    color: #000000;
    transition: color 0.2s linear; }
    .form__label a:hover {
      color: #007bff; }
  .form__label .arrow {
    font-size: 70px;
    position: absolute;
    right: -15px;
    bottom: -5px; }

.tasks {
  width: 93%;
  margin: 34px auto; }
  .tasks__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px; }
  .tasks__name {
    width: 60%; }
  .tasks__priority {
    position: relative;
    width: 20%; }
    .tasks__priority--Low::before {
      content: '';
      position: absolute;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      top: 50%;
      left: -20px;
      transform: translateY(-50%);
      background-color: #4764C9; }
    .tasks__priority--High::before {
      content: '';
      position: absolute;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      top: 50%;
      left: -20px;
      transform: translateY(-50%);
      background-color: #D10C0C; }
    .tasks__priority--Medium::before {
      content: '';
      position: absolute;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      top: 50%;
      left: -20px;
      transform: translateY(-50%);
      background-color: #F1AE00; }
  .tasks .check {
    display: flex;
    margin: 0;
    margin-bottom: 2px; }
  .tasks .custom__check {
    width: 15px;
    height: 15px;
    background: #B3F2CC;
    border: 1px solid #9AEEBB;
    position: relative; }
    .tasks .custom__check .check__inner {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 9px;
      height: 9px;
      background-color: #ffffff;
      transition: background-color 0.2s linear; }
  .tasks .check__item {
    display: none; }
    .tasks .check__item:checked ~ .custom__check > .check__inner {
      background-color: #9AEEBB; }
  .tasks .delete {
    color: #4DD784;
    margin-bottom: 2px;
    transition: color 0.2s linear; }
    .tasks .delete:hover {
      color: #ff0000; }

.completed {
  text-decoration: line-through; }

.popup {
  background: rgba(255, 255, 255, 0.6);
  border: 1px solid #6B6B6B;
  padding-top: 13px;
  white-space: nowrap;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none; }
  .popup__heading {
    font-weight: 600;
    font-size: 24px;
    color: #26B35E;
    text-align: center; }
  .popup__container {
    width: 260px;
    height: 215px;
    background: #E6E6E6;
    margin: 8px auto 0;
    padding-top: 22px;
    padding-left: 12px;
    font-size: 16px;
    color: #6B6B6B; }
    .popup__container .popup__title {
      display: flex;
      margin-bottom: 21px; }
      .popup__container .popup__title--last {
        margin-bottom: 0; }
      .popup__container .popup__title .star {
        color: #D10909; }
      .popup__container .popup__title .title__form {
        width: 100%;
        margin-top: -4px;
        margin-left: 10px; }
      .popup__container .popup__title .title__label {
        font-size: 13px;
        margin: 0;
        margin-left: 10px;
        width: 100%; }
        .popup__container .popup__title .title__label .title__input {
          border: 0;
          width: 92%;
          outline: none; }
          .popup__container .popup__title .title__label .title__input::placeholder {
            color: #BEBDBD; }
      .popup__container .popup__title .deadline__label {
        width: 100%;
        margin-left: 10px; }
        .popup__container .popup__title .deadline__label .deadline__input {
          border: none;
          width: 90%;
          font-size: 14px; }
      .popup__container .popup__title .priority__label {
        width: 100%;
        margin-left: 10px; }
      .popup__container .popup__title .priority__select {
        color: #BEBDBD;
        border: none;
        width: 90%; }
  .popup .btn {
    display: flex;
    margin-top: 15px; }
    .popup .btn .btn__add {
      margin: 0 auto;
      background: #67D292;
      padding: 0 20px;
      border: none;
      font-weight: 600;
      font-size: 18px; }

.popup.open {
  display: block; }

.task {
  width: 22%;
  margin: 150px auto;
  top: 50%;
  background-color: white;
  border: 1px solid;
  padding-top: 10px;
  padding-bottom: 20px; }

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  background-color: #5994D9;
  font-family: 'Poppins', sans-serif;
  font-size: 15px; }

.main {
  width: 90%;
  margin: 100px auto 0;
  background-color: #ffffff;
  min-height: 80vh;
  padding-bottom: 50px;
  position: relative; }
  .main .clear {
    position: absolute;
    left: 30px;
    bottom: 15px;
    color: #4DC97E;
    font-weight: 700;
    font-size: 18px;
    transition: color 0.2s linear; }
    .main .clear:hover {
      color: #ff0000; }
  .main .add {
    position: absolute;
    right: 40px;
    bottom: 15px;
    font-weight: 700;
    font-size: 24px;
    color: #DC5252;
    transition: color 0.2s linear; }
    .main .add:hover {
      color: #fc944f; }

/*# sourceMappingURL=style.css.map */
