.status {
        font-weight: 600;
        font-size: 14px;
        text-transform: uppercase;
        margin-top: 45px;
        margin-left: 35px;
        display: flex;

        &__item {
            border-radius: 5px;
            padding: 2px 10px;
            margin-right: 300px;

            &--purple {
                background: #D6C9D8;
                color: #5231AE;  
            }

            &--green {
                background: #9AEEBB;
                color: #169357;
            }

            &--red {
                background: #F1B1B1;
                color: #DE3838;
            }
        }
    }